<body class="background">

  <div class="nav__right">
        <%= link_to "PUSH", new_cheat_path, class: :nav__btn %>
  </div>
   <div class="card__wrapper">
     
    <%= render partial: 'cheat', collection: @cheat %>
    
   </div>
</body>

