<body class="background">
</body>
 <div class="nav__right">
        <%= link_to "PUSH", new_cheat_path, class: :nav__btn %>
 </div>
 <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= @cheat.name %>
    </div>
     <%= image_tag @cheat.image.variant(resize: '500x500'), class: 'cheat-image' if @cheat.image_url.attached? %>
  </div>
</div>


